html {
    scroll-behavior: smooth;
}

a.heading-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
.image.is-256x256 {
  height: 256px;
  width: 256px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;    
}
.icon path {
  fill: white;
}
