---
layout: default
---
<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title">
            {{ page.title }}
            </p>
            <p class="subtitle">
              {{ page.subtitle }}            
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
    {{ content }}
    </div>  
  </div>
</section>
